<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css" >
    <title>ToDo Simple App</title>


</head>
<body>
    <div class="d-flex justify-content-center">

        <div class="spinner-border" role="status" id="loading"></div>
        <p id="loading-msg" class="text-muted">Carregando tarefas...</p>
    </div>

    <header>
        <nav>
            <h1 id="titulo">Tarefas do usuario</h1>
        </nav>
    </header>

    <section id="table">
        <table class="table table-hover">
            <tbody id="tasks"></tbody>
        </table>
    </section>

    <script src="script.js"></script>
</body>
</html>