*{
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #f0f0f0c9;
    font-size: 16px;
}

header{
    background-color: #007bff;
    color: #fff;
    padding: 3rem;
}
header strong{
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

header a {
    color: #fff;
    text-decoration: none;
}
header a:hover{
    color: #f5f5f5a4;
}
h1,h2{
    display: flex;
    text-align: center;
    justify-content: center;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
    margin: 20px auto;
    table-layout: fixed;
}
table, th, td {
    border: 1px solid #007bff;
}
th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #007bff;
    color: #fff;
}


#product-table tbody {
    display: block;
    height: 220px; /* Altura suficiente para 5 linhas de 48px cada */
    overflow-y: auto;
}

#product-table thead, #product-table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    width: 50%;
}

input[type="text"],
input[type="number"],
textarea {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    /*margin-right: 80%;*/
    width: 100%;
    
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    top: 1px;
    transition: background-color 0.6s ease; 
    

}
button:hover{
    background-color: #007bffa8;
}
.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 5px;
    transition: background-color 0.6s ease;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
    background-color: #007bffa8;
}
.pagination span {
    margin: 0 10px;
    font-size: 18px;
}